@media (max-width: 400px) {
	#pageHeader>.site-branding>.row>.site-logo{
		padding: 0;
	}
	#pageHeader>.site-branding>.row>.site-title{
		font-size: 90%;
		padding:0;
	}
	#pageHeader>button{
		padding-left: 8px;
		padding-right: 8px;
	}
	#directions>.container>.carousel-inner>.carousel-item>div>div>img {
	    width: 100px;
	    height: 100px;
	}
	#directions {
	    height: auto;
	}
	#directions>.container>.carousel-inner>.carousel-item>div>div>article>.entry-content,#element_2>div>h3{
		font-size: 80%;
	}
	#directions>.container>.carousel-inner>.carousel-item>div>div>article>header>h2,#element_2>div>h2,footer>#register_form>h2 {
	    font-size: 90%;
	}
	#howIcanParticipate>div>div>div>h3{
		font-size: 110%;
	}
	#howIcanParticipate>div>div>div>h4{
		font-size: 80%;
	}
	footer>#register_form>div>form>p>span>input{
		width: 250px;
	}
	footer>img {
		height:150px;
	}
}