@media (min-width: 576px) and (max-width: 768px) {
	.carousel-item>div>article{
		text-align: center;
	}
	footer>img{
		height: 250px;
	}
	#howIcanParticipate>div>.col-12>.col-lg-9{
		text-align: center;
	}
	#directions>div>article{
		margin-bottom: 15px;
	}
	#directions>div>article:first-child{
		margin-right:0;
	}
	#directions>div>article:last-child{
		margin:0;
	}
	#HowIcanWin>div>img{
		margin-top:50%;
	}

	#roadmapAreas>ol:after,#roadmapAreas>ol>li:before,#roadmapAreas>ol>li:after{
		left:20%;
	}
	#roadmapAreas>ol>li:nth-child(odd):after{
		left:28%;
	}
	#roadmapAreas>ol>li .event{
		top:0;
		width:80%;
	}
	#roadmapAreas>ol>li:nth-child(odd) .event{
		margin-left: 15%;
	}
	#roadmapAreas>ol>li:nth-child(even) .event{
		left: 15%;
	}
	#roadmapAreas>ol>li:nth-child(odd) .event,#roadmapAreas>ol>li:nth-child(even) .event{
		margin-top:-15px;
	}

	footer>img {
		height:200px;
	}
	#howIcanParticipate{
		margin-top: 15px;
	}
}
@media (min-width: 768px) and (max-width: 841px){
	#directions>div>article{
		margin-bottom: 15px;
	}
	#directions>div>article:first-child{
		margin-right:0;
	}
	#directions>div>article:last-child{
		margin:0;
	}
	#howIcanParticipate{
		margin-top: 15px;
	}
}